<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }

    .card-list {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
  </style>

  <title></title>
</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px; background: #FFFCD6;">
    
    <p class="lead">We Provide Platform For Students To practice Questions  <br> Teacher can add course/exam to System and Questions to that course.</p>
    <hr class="my-4">
    <p>Meet Our Team.</p>
    <div class="card-list">
      <div class="card" style="width: 18rem;">
          <img src="{% static "image/Picsart_22-12-25_21-51-19-802.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Achmad Fazalika Fadly</h5>
            <h6 class="card-subtitle mb-2 text-muted">22020154089</h6>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static "image/Picsart_22-12-25_21-53-03-627.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jasmine Anindia Putri S.</h5>
            <h6 class="card-subtitle mb-2 text-muted">22020154109</h6>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static "image/Picsart_22-12-25_21-52-38-238.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Anisa Rizky Nabila</h5>
            <h6 class="card-subtitle mb-2 text-muted">22020154112</h6>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static "image/Picsart_22-12-25_21-52-02-823.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Moch Ivo Irvansyah</h5>
            <h6 class="card-subtitle mb-2 text-muted">22020154111</h6>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
          <img src="{% static "image/Picsart_22-12-25_21-53-43-496.jpg" %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Alvino Firhand Maulidiansyah</h5>
            <h6 class="card-subtitle mb-2 text-muted">22020154077</h6>
          </div>
      </div>
  </div>
  </div>

  {% include "quiz/footer.html" %}
</body>

</html>
